
.block {
  width: 1300px;
  display: block;
  margin: 0 auto;
}

.header {
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
}

hr {
  margin-top: 0px;
  margin-right: 40px;
  margin-left: 40px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 32px;
  font-style: normal;
  margin-bottom: 0px;
}

.button {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 16px;

  border-width: 1px
  border-style: solid;
  background-color: white;
  width: 80px;
  height: 30px;

  align-self: flex-end;
  margin-top: 30px;
}

.select {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 13.5px;

  background-color: white;
  width: 150px;
  height: 32px;
}

.grid {
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;

  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}

.grid_item {
  color: black;
  line-height: 25px;
  font-size: 15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;

  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  display: flex;

  border-style: solid;
  border-color: black;
  border-width: 1.5px;

  height: 150px;
  width: 250px;
}

.chkbox {
  position: absolute;
  margin-left: -110px;
  align-self: start;
}
