
.block {
  display: block;
  margin: 0 auto;
  width: 1300px;
  justify-content: flex-start;
}

.header {
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
}

hr {
  margin-top: 0px;
  margin-right: 40px;
  margin-left: 40px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 32px;
  font-style: normal;
  margin-bottom: 0px;
}

.button {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 16px;

  border-width: 1px
  border-style: solid;
  background-color: white;
  width: 120px;
  height: 30px;

  align-self: flex-end;
  margin-top: 30px;
}

.form {
  margin-left: 40px;
  margin-top: 25px;

  color: black;
  font-size: 17px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-style: normal;
}

.row {
  clear: both;
  overflow: hidden;
}

.label {
  float: left;
  width: 100px;
  margin-top: 15px;
}

.text-input {
  float: left;
  width: 300px;
  margin-top: 15px;
}

.field {
  width: 200px;
  height: 20px;
  border-style: solid;
  border-width: 1.5px;
  border-color: black;
}

.type-select {
  float: left;
  margin-top: 17px;
}

.select {
  width: 208px;
  height: 23px;
  border-color: black;
  border-width: 1.5px;
  font-size: 15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-style: normal;
  text-align: center;
}

.errors {
  float: left;
  margin-top: 15px;
  color: #ff3333;
  font-size: 15px;
}

.hint {
  margin-left: 10px;
  margin-top: 25px;
  color: #6b6b47;
  font-size: 15px;
}
